* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas#myCanvas {
    background-color: rgba(45, 45, 45, 1);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}